.text_center{
    text-align: center;
}

.text_2xl{
  opacity: 10;
  font-size: 3.5rem !important;
  z-index: 10;
}

.text_black{
  color: rgb(12, 12, 12);
}
.text_white{
  color: rgb(240, 235, 235);
}

.text_midnight{
  color: rgb(98, 38, 154) !important;
}

.alternate_style{
  position: absolute;
  bottom: 0%;
  left: -25%;
  transform: skew(25deg);
  min-height: 100vh;
  width: 50%;
  background-color: rgb(130, 211, 255) !important;
}

.text_nav_lg{
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgb(12, 12, 12);
}

.text_nav_lg:nth-child(4):hover::before{
  position: absolute;
  content: "";
  height: 10rem;
  width: 30rem;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  bottom: -300%;
  right: 3%;
  animation-name: animate;
  animation-duration: .4s;
}

@keyframes animate {
  from{
    opacity: 0;
    transform: translateY(-40px);
  }
  to{
    opacity: 10;
    transform: translateY(0px);
  }
}

@media (max-width: 684px) {
  .alternate_style{
    position: absolute;
    bottom: 0%;
    left: -45%;
    transform: skew(25deg);
    min-height: 100vh;
    width: 50%;
    background-color: rgb(1, 127, 195) !important;
  }
}